.virtual-keyboard {
  --keyboard-bg: #fafafa;
  --key-bg: #ffffff;
  --key-color: #2b2a29;
  --func-key-bg: #ebebeb;
  --func-key-color: #2b2a29;
  --enter-key-bg: #cf3337;
  --enter-key-color: #ffffff;
  --key-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);

  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.virtual-keyboard--num .virtual-keyboard__key {
  width: 104px;
}

.virtual-keyboard--num .virtual-keyboard__key.virtual-keyboard__key--NUM:after {
  content: 'ABC';
}

.virtual-keyboard__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  border-radius: 48px;
  padding: 48px;
  background-color: var(--keyboard-bg);
  max-width: 1840px;
}

.virtual-keyboard__row {
  display: flex;
  column-gap: 16px;
}

.virtual-keyboard__key {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--key-color);

  background-color: var(--key-bg);
  border-radius: 8px;
  flex: 1;
  height: 96px;

  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.1s;
}

.virtual-keyboard__key:after {
  color: var(--key-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.virtual-keyboard__key:active {
  transform: scale(0.95);
}

.virtual-keyboard__key.virtual-keyboard__key--SHIFT,
.virtual-keyboard__key.virtual-keyboard__key--BACKSPACE,
.virtual-keyboard__key.virtual-keyboard__key--NUM,
.virtual-keyboard__key.virtual-keyboard__key--LANG,
.virtual-keyboard__key.virtual-keyboard__key--SPACE,
.virtual-keyboard__key.virtual-keyboard__key--GO {
  font-size: 0;
}

.virtual-keyboard__key.virtual-keyboard__key--SHIFT,
.virtual-keyboard__key.virtual-keyboard__key--BACKSPACE,
.virtual-keyboard__key.virtual-keyboard__key--NUM,
.virtual-keyboard__key.virtual-keyboard__key--LANG {
  background-color: var(--func-key-bg);
  background-position: center;
  background-repeat: no-repeat;
}

.virtual-keyboard__key.virtual-keyboard__key--SHIFT {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0362 16.2424V22.249H18.9631V16.2424H22.8741L15.9999 9.1441L9.12593 16.2424H13.0362ZM15.6411 7.50201C15.8375 7.2993 16.1625 7.2993 16.3588 7.50201L25.358 16.7947C25.6654 17.1121 25.4408 17.6433 24.9992 17.6433H20.3624V23.1496C20.3624 23.4259 20.1387 23.65 19.8627 23.65H12.1366C11.8606 23.65 11.6368 23.4259 11.6368 23.1496V17.6433H7.00068C6.55924 17.6433 6.33461 17.1121 6.64196 16.7947L15.6411 7.50201Z' fill='%232B2A29'/%3E%3C/svg%3E%0A");
  width: 104px;
}

.virtual-keyboard__key.virtual-keyboard__key--SHIFT.virtual-keyboard__key--is-caps {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6368 17.6435H7.00068C6.55924 17.6435 6.33461 17.1122 6.64196 16.7949L15.6412 7.50213C15.8375 7.29942 16.1625 7.29942 16.3588 7.50213L25.358 16.7949C25.6654 17.1122 25.4408 17.6435 24.9993 17.6435H20.3625V23.1498C20.3625 23.4261 20.1388 23.6501 19.8628 23.6501H12.1366C11.8606 23.6501 11.6368 23.4261 11.6368 23.1498V17.6435Z' fill='%232B2A29'/%3E%3C/svg%3E%0A");
  background-color: var(--key-bg);
}

.virtual-keyboard__key.virtual-keyboard__key--BACKSPACE {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7144 13.5251C15.4215 13.2322 15.4215 12.7574 15.7144 12.4645C16.0073 12.1716 16.4822 12.1716 16.775 12.4645L19.25 14.9394L21.7249 12.4645C22.0177 12.1716 22.4926 12.1716 22.7855 12.4645C23.0784 12.7573 23.0784 13.2322 22.7855 13.5251L20.3105 16L22.7855 18.4749C23.0784 18.7678 23.0784 19.2427 22.7855 19.5355C22.4926 19.8284 22.0177 19.8284 21.7249 19.5355L19.25 17.0607L16.775 19.5355C16.4822 19.8284 16.0073 19.8284 15.7145 19.5355C15.4215 19.2426 15.4215 18.7678 15.7145 18.4749L18.1893 16.0001L15.7144 13.5251Z' fill='%232B2A29'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6213 8.37866L5 16L12.6213 23.6213C13.184 24.184 13.947 24.5 14.7427 24.5H25C26.6569 24.5 28 23.1569 28 21.5V10.5C28 8.84314 26.6569 7.5 25 7.5H14.7427C13.947 7.5 13.184 7.8161 12.6213 8.37866ZM25 23.2H14.7427C14.2917 23.2 13.8594 23.0209 13.5405 22.7021L6.8385 16L13.5405 9.29791C13.8594 8.97913 14.2917 8.79999 14.7427 8.79999H25C25.9388 8.79999 26.7 9.5611 26.7 10.5V21.5C26.7 22.4389 25.9388 23.2 25 23.2Z' fill='%232B2A29'/%3E%3C/svg%3E%0A");
  width: 104px;
}

.virtual-keyboard__key.virtual-keyboard__key--NUM {
  width: 72px;
}

.virtual-keyboard__key.virtual-keyboard__key--NUM:after {
  content: '&123';
}

.virtual-keyboard__key.virtual-keyboard__key--GO {
  width: 152px;
  background-color: var(--enter-key-bg);
}

.virtual-keyboard__key.virtual-keyboard__key--GO:after {
  content: 'Найти';
  color: var(--enter-key-color);
}

.virtual-keyboard__key.virtual-keyboard__key--LANG {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2024_417)'%3E%3Cpath d='M20.4853 3.51473C18.2188 1.24819 15.2053 0 12 0C8.79469 0 5.78119 1.24819 3.51473 3.51469C1.24819 5.78119 0 8.79469 0 12C0 15.2053 1.24819 18.2188 3.51473 20.4853C5.78119 22.7518 8.79469 24 12 24C15.2054 24 18.2188 22.7518 20.4853 20.4852C22.7518 18.2188 24 15.2053 24 12C24 8.79464 22.7518 5.78119 20.4853 3.51473ZM4.51013 4.51013C5.56533 3.45492 6.80409 2.65008 8.15428 2.12475C7.79466 2.57372 7.45814 3.08977 7.14975 3.67017C6.79158 4.34423 6.48253 5.08453 6.22514 5.87527C5.33348 5.72728 4.50731 5.54531 3.76922 5.33175C4.00199 5.0454 4.24928 4.77116 4.51013 4.51013ZM2.91698 6.54305C3.78028 6.81947 4.76756 7.05258 5.84484 7.23722C5.54484 8.51062 5.36827 9.88092 5.32613 11.2962H1.43138C1.542 9.59775 2.05209 7.97681 2.91698 6.54305ZM2.84034 17.3268C2.02214 15.9253 1.53867 14.3511 1.43133 12.7038H5.3288C5.37483 14.0786 5.54789 15.41 5.83777 16.65C4.73836 16.8283 3.72628 17.0555 2.84034 17.3268ZM4.51013 19.4899C4.21345 19.1931 3.93437 18.8792 3.6743 18.5498C4.43944 18.3376 5.29481 18.158 6.21558 18.0139C6.4748 18.8156 6.78717 19.5657 7.1497 20.248C7.4858 20.8805 7.85531 21.4363 8.25173 21.9123C6.86377 21.3881 5.59069 20.5703 4.51013 19.4899ZM11.2961 22.4116C10.227 22.1122 9.21562 21.1358 8.39288 19.5875C8.10511 19.046 7.85236 18.4552 7.63584 17.8256C8.79506 17.698 10.0286 17.6226 11.2961 17.6048V22.4116ZM11.2961 16.197C9.89044 16.2162 8.52033 16.3045 7.23722 16.4552C6.95419 15.2851 6.78389 14.0187 6.73716 12.7039H11.2962V16.197H11.2961ZM11.2961 11.2961H6.73448C6.77719 9.94453 6.9502 8.64277 7.24205 7.44295C8.51695 7.60233 9.8842 7.69927 11.2961 7.72702V11.2961ZM11.2961 6.31913C10.0237 6.29348 8.79286 6.21052 7.64184 6.07514C7.85705 5.45208 8.10783 4.86727 8.39288 4.33069C9.21558 2.78231 10.227 1.806 11.2961 1.50652V6.31913ZM21.1274 6.61781C21.9652 8.03311 22.4599 9.62714 22.5687 11.2961H18.674C18.6323 9.89719 18.4591 8.54227 18.1654 7.28142C19.2497 7.1063 20.2493 6.8835 21.1274 6.61781ZM19.4898 4.51013C19.7702 4.79079 20.0349 5.08671 20.2827 5.39653C19.5292 5.60227 18.6902 5.77688 17.7887 5.91741C17.5287 5.11078 17.2148 4.35623 16.8503 3.67017C16.5419 3.08977 16.2054 2.57372 15.8458 2.12475C17.1959 2.65008 18.4347 3.45492 19.4898 4.51013ZM12.7039 12.7039H17.2629C17.2158 14.0289 17.0432 15.305 16.7562 16.4826C15.4815 16.3241 14.1148 16.228 12.7039 16.201V12.7039ZM12.7039 11.2961V7.7317C14.1104 7.71323 15.4815 7.62572 16.7659 7.47558C17.053 8.66634 17.2232 9.95677 17.2655 11.2961H12.7039ZM12.7038 1.50652H12.7038C13.773 1.806 14.7843 2.78231 15.6071 4.33069C15.8967 4.8757 16.1509 5.47059 16.3683 6.10481C15.2076 6.23194 13.9726 6.3068 12.7038 6.32391V1.50652ZM12.7039 22.4116V17.6089C13.9751 17.6339 15.205 17.7161 16.3556 17.8506C16.1409 18.4709 15.891 19.0531 15.6071 19.5875C14.7844 21.1358 13.773 22.1122 12.7039 22.4116ZM19.4898 19.4899C18.4093 20.5704 17.1362 21.3881 15.7482 21.9123C16.1446 21.4362 16.5142 20.8805 16.8503 20.248C17.2074 19.5758 17.5158 18.8377 17.7728 18.0493C18.6852 18.1999 19.5293 18.3862 20.2813 18.6052C20.0339 18.9144 19.7697 19.2097 19.4898 19.4899ZM21.1222 17.391C20.2486 17.1102 19.2472 16.8739 18.1537 16.6875C18.4489 15.4368 18.6248 14.0925 18.6713 12.7039H22.5688C22.4596 14.3763 21.9632 15.9735 21.1222 17.391Z' fill='%232B2A29'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2024_417'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  width: 72px;
}

.virtual-keyboard__key.virtual-keyboard__key--SPACE {
  width: 552px;
}

.virtual-keyboard__key.virtual-keyboard__key--SPACE:after {
  content: 'Пробел';
}

.virtual-keyboard__close {
  border-radius: 24px;
  padding: 16px 32px;
  width: 176px;
  height: 112px;
  background-color: var(--keyboard-bg);
  color: var(--key-color);
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 44C34.15 44 44 34.15 44 22C44 9.85 34.15 0 22 0C9.85 0 0 9.85 0 22C0 34.15 9.85 44 22 44ZM12.586 31.414C12.2111 31.0389 12.0004 30.5303 12.0004 30C12.0004 29.4697 12.2111 28.9611 12.586 28.586L19.172 22L12.586 15.414C12.2217 15.0368 12.0201 14.5316 12.0247 14.0072C12.0292 13.4828 12.2395 12.9812 12.6104 12.6104C12.9812 12.2395 13.4828 12.0292 14.0072 12.0247C14.5316 12.0201 15.0368 12.2217 15.414 12.586L22 19.172L28.586 12.586C28.7705 12.395 28.9912 12.2426 29.2352 12.1378C29.4792 12.033 29.7416 11.9778 30.0072 11.9755C30.2728 11.9732 30.5361 12.0238 30.7819 12.1244C31.0277 12.2249 31.251 12.3734 31.4388 12.5612C31.6266 12.749 31.7751 12.9723 31.8756 13.2181C31.9762 13.4639 32.0268 13.7272 32.0245 13.9928C32.0222 14.2584 31.967 14.5208 31.8622 14.7648C31.7574 15.0088 31.605 15.2295 31.414 15.414L24.828 22L31.414 28.586C31.7783 28.9632 31.9799 29.4684 31.9753 29.9928C31.9708 30.5172 31.7605 31.0188 31.3896 31.3896C31.0188 31.7605 30.5172 31.9708 29.9928 31.9753C29.4684 31.9799 28.9632 31.7783 28.586 31.414L22 24.828L15.414 31.414C15.0389 31.7889 14.5303 31.9996 14 31.9996C13.4697 31.9996 12.9611 31.7889 12.586 31.414Z' fill='%232B2A29' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
